.heading {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url("christmas.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #41456a;

}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.christmas {
    background-color: rgba(251, 248, 249, 0.82); 
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: none
}
.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.days, .hours, .seconds, .minutes {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.red {
    font-size: 60px;
    border: none;
    font-family: 'Staatliches', sans-serif;
    color: red;
}
.play {
    width: 80px;
    height: 80px;
    background-image: url(https://img.icons8.com/wired/50/000000/play.png);
    background-size: contain;
    border: none;
}
.play:hover {
    background-color: #CD1818;
   
}
.pause {
    background-image: url(https://img.icons8.com/wired/64/000000/circled-pause.png);
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
   
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 25px;
    }
    .christmas {
        width: 40%;
    }
    h3 {
        font-size: 20px;
    }
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }